body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  background-color: #1F2937;
  color: white;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 0;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.links {
  display: flex;
  gap: 16px;
}

.header_top a {
  color: white;
  text-decoration: none;
}

.header_info {
  display: flex;
  align-items: flex-start; /* aligns top edges */
  justify-content: space-between;
  gap: 40px;
  padding: 48px 0;
}

.header_text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.header_text h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  line-height: 1.1;
  margin: 0 0 16px 0;
}

.header_text p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0 0 24px 0;
}

.header_text button {
  background-color: #3882F6;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;
}

.image-placeholder {
  width: 400px;
  height: 200px;
  background-color: #6b7280;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px;
}

.information .title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin-bottom: 36px;
}

.container {
  display: flex;
  gap: 40px;

}

.image-button {
  width: 100px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.sq-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 2px solid #3882F6;
  border-radius: 6px;
}

.testimony {
  text-align: center;
  padding: 60px 120px;
  background-color: #E5E7EB;
}

.quote {
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: left;
}

.author {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #1F2937;
  text-align: right;
}
